IDI_ICON1 ICON DISCARDABLE "app.ico"
IDI_ICON2 ICON DISCARDABLE "vmtfile.ico"
IDI_ICON3 ICON DISCARDABLE "vtffile.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,3,10
PRODUCTVERSION  1,3,10
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",    "VMT Editor"
            VALUE "FileVersion",        "1.3.10"
            VALUE "ProductVersion",     "1.3.10"
            VALUE "ProductName",        "VMT Editor"
            VALUE "LegalCopyright",     "Copyright © 2016-2018"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
